:root{
    --deepBlue:#2155CD;
    --blue:#0AA1DD;
    --lightBlue:#79DAE8;
    --lighterBlue:#E8F9FD;
    --headerSize:20vh;
    --btnWidth:90px;
    --btnHeight:30px;
}

body{
    margin:0;
    font-family:'Roboto', sans-serif;   
}

#container{
    display:grid;
    grid-template-rows: 1fr 4fr;
    overflow:auto;
}

button,input{
    border:none;
    border-radius: 2rem;
}

input{
    padding-left:5px;
}

#heading{
    margin-left:10px;
    font-size:3rem;
}

#wrapper{
    display:grid;
    height: var(--headerSize);
    grid-template-columns:min-content 200px ;
    grid-template-rows:min-content 1fr;
    align-items:center;
    background-color: var(--lighterBlue);
    z-index:1;
    box-shadow:0 0px 5px black;
}

#newBookBtn{
    margin-left:30px;
    height:40px;
    background-color: var(--deepBlue);
    color:white;
}

#newBookBtn:hover{
    background-color: var(--blue);
}

#popUpForm{
    display:grid;
    grid-template-columns: min-content;
    grid-auto-rows: min-content;
    border:solid black 2px;
    width:50%;
    height:50%;
    padding-top:10px;
    padding-left:20px;
    border-radius:2rem;
    background-color:var(--deepBlue);
    color:white;
    visibility: hidden;
    position:absolute;
    left:25%;
    top:25%;
}

#formBtnContainer{
    display:grid;
    grid-template-columns: min-content min-content;
    column-gap: 10px;
}

.formBtn{
    margin-top:10px;
    width:var(--btnWidth);
    height:var(--btnHeight);
    background-color: var(--lightBlue);
    color:black;
    z-index:2;
}

#cancelBtn{
    background-color: #85586F;
    color:white;
}

.formBtn:hover{
    background-color: var(--lighterBlue);
}

#cancelBtn:hover{
    background-color:#b97096;
}

#bookContainer{
    padding-top:20px;
    background-color: var(--blue);
    width:auto;
    min-height:calc(98vh - var(--headerSize));
    display:grid;
    grid-template-rows:repeat(auto-fit,minmax(min-content,250px));
    grid-template-columns:repeat(auto-fit,minmax(15%,1fr));
    overflow:auto;
}

.card{
    background-color:var(--deepBlue);
    box-shadow: 0 0 5px black;
    margin:20px;
    display:grid;
    border-radius:2rem;
    padding:10px 0 10px 10px ;
    overflow: auto;
}

.cardText{
    color:var(--lighterBlue,"white");
    font-size:1.5rem;
}

.readBtn{
    background-color: var(--lightBlue);
    width:var(--btnWidth);
    height:var(--btnHeight);
    color:black;
}

.readBtn:hover{
    background-color: var(--lighterBlue);
}